<h1>Create deposit</h1>
<ng-container *ngIf="formGroup.controls as controls">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="name" [formControl]="controls.name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Duration</mat-label>
    <input
      type="number"
      matInput
      placeholder="duration (months)"
      [formControl]="controls.duration"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Amount</mat-label>
    <input
      type="number"
      matInput
      placeholder="amount"
      [formControl]="controls.amount"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Percent</mat-label>
    <input
      type="number"
      matInput
      placeholder="percent"
      [formControl]="controls.percent"
    />
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="onSave()">Create</button>
  <button mat-raised-button color="warn" (click)="onClose()">Cancel</button>
</ng-container>
