<app-header></app-header>
<app-user-card-list
  *ngIf="(userCardList$ | async)?.length; else emptyListLabel"
  [cardList]="userCardList$ | async"
  (userRemove)="removeUser($event)"
></app-user-card-list>
<ng-template #emptyListLabel
  ><h1 class="home-page__empty-list-label">No bank users added</h1></ng-template
>

<button
  class="home-page__add-user-button"
  mat-fab
  color="primary"
  aria-label="Example icon button with a delete icon"
  (click)="showAddUserModal()"
>
  <mat-icon>add</mat-icon>
</button>
